.app-header {
  margin-bottom: em(20);

  &__title {
    
    strong {
      font-size: 1.2em;
      font-weight: 700;
    }

    @include poly-fluid-sizing("font-size", (
      breakpoint("mobileLarge"): em(18),
      breakpoint("mobileSmall"): em(14)
    ));
  }
}