/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;

  &.noScroll {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

input, button {
  outline: 0;
}